@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

fieldset,
label {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}
h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.fav-podcasts {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 40px;
  text-align: left;
  padding: 10px 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.9px;
  font-size: 2.5rem;
  color: black;
}

.rating-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.style-image {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  object-fit: cover;
}
